POSTGRES_USER=postgres
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=postgres
POSTGRES_PORT=5432

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=password

EMAIL_USER=survivalgamecodam42@gmail.com
EMAIL_PASSWORD=rgyg pwpe nxcw oyvv
#actual gmail account password: 764bcksu97#!@

DATA_SOURCE_USER=postgres
DATA_SOURCE_PASS=mypassword
HOSTNAME=localhost
#should be the school local host hostname in order to use email verification on the school network