POSTGRES_USER=postgres
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=postgres
POSTGRES_PORT=5432

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=password

EMAIL_USER=survivalgame42@proton.me
EMAIL_PASSWORD=rgyg pwpe nxcw oyvv
#764bcksu97#!@
DATA_SOURCE_USER=postgres
DATA_SOURCE_PASS=mypassword
